/* CSS for NavBar.py */

#NavBar_BackButton{
	background: #2F343F;
	border-radius: 0px;
	border-width: 2px;
	box-shadow: 0 0 0 0;
	border-color: #C0C0C0;
	font-size: 13px;
}

#HomeView_SelectGame{
	background: #fffff1;
}

#HomeView_Game1Button{
	background: #2F343F;
	border-radius: 0px;
	border-width: 2px;
	box-shadow: 0 0 0 0;
	font-size: 13px;
	background:url("buttonBackground.jpg")
}

#HomeView_Game2Button{
	background: #2F343F;
	border-radius: 0px;
	border-width: 2px;
	box-shadow: 0 0 0 0;
	font-size: 13px;
	background:url("buttonBackground.jpg")
}

#HomeView_Game3Button{
	background: #2F343F;
	border-radius: 0px;
	border-width: 2px;
	box-shadow: 0 0 0 0;
	font-size: 13px;
	background:url("buttonBackground.jpg")
}

#Game2View_Word1Button{
	background: #2F343F;
	border-radius: 2px;
	border-width: 2px;
	box-shadow: 0 0 0 0;
	font-size: 13px;
}

#Game2View_Word2Button{
	background: #2F343F;
	border-radius: 2px;
	border-width: 2px;
	box-shadow: 0 0 0 0;
	font-size: 13px;
}

#Game2View_Word3Button{
	background: #2F343F;
	border-radius: 2px;
	border-width: 2px;
	box-shadow: 0 0 0 0;
	font-size: 13px;
}

#Game2View_Word4Button{
	background: #2F343F;
	border-radius: 2px;
	border-width: 2px;
	box-shadow: 0 0 0 0;
	font-size: 13px;
}

#Game2View_SkipButton{
	background: #2F343F;
	border-radius: 15px;
	border-width: 2px;
	box-shadow: 0 0 0 0;
	font-size: 15px;
}

#Game2View_NextButton{
	background: #2F343F;
	border-radius: 15px;
	border-width: 2px;
	box-shadow: 0 0 0 0;
	font-size: 15px;
}

#Game2View_LevelLabel{
	background-color: #000000;
	border-radius: 0px;
	border-width: 0px;
	box-shadow: 0 0 0 0;
	font-size: 13px;
	color: #FFFFFF;
}

#Game2View_ScoreLabel{
	background-color: #000000;
	border-radius: 0px;
	border-width: 0px;
	box-shadow: 0 0 0 0;
	font-size: 13px;
	color: #FFFFFF;
}

#Game1View_LevelLabel{
	background-color: #000000;
	border-radius: 0px;
	border-width: 0px;
	box-shadow: 0 0 0 0;
	font-size: 13px;
	color: #FFFFFF;
}

#Game1View_ScoreLabel{
	background-color: #000000;
	border-radius: 0px;
	border-width: 0px;
	box-shadow: 0 0 0 0;
	font-size: 13px;
	color: #FFFFFF;
}

#Game1View_LeftButton{
	background: #2F343F;
	border-radius: 5px;
	border-width: 2px;
	box-shadow: 0 0 0 0;
	font-size: 18px;
}

#Game1View_RightButton{
	background: #2F343F;
	border-radius: 5px;
	border-width: 2px;
	box-shadow: 0 0 0 0;
	font-size: 18px;
}

#TypeBox_TextField{
	background-color: #fffff0;
	border-radius: 2px;
	font: Sans 20;
}

#Game3View_WordButton{
	background: #2F343F;
	border-radius: 2px;
	border-width: 2px;
	box-shadow: 0 0 0 0;
	font-size: 13px;
}
#Game3View_LevelLabel{
	background-color: #000000;
	border-radius: 0px;
	border-width: 0px;
	box-shadow: 0 0 0 0;
	font-size: 13px;
	color: #FFFFFF;
}

#Game3View_ScoreLabel{
	background-color: #000000;
	border-radius: 0px;
	border-width: 0px;
	box-shadow: 0 0 0 0;
	font-size: 13px;
	color: #FFFFFF;
}

#Game3View_SkipButton{
	background: #2F343F;
	border-radius: 15px;
	border-width: 2px;
	box-shadow: 0 0 0 0;
	font-size: 15px;
}
